# Dependências
node_modules/
.pnpm-store/

# Build e Cache
dist/
.parcel-cache/
.cache/
.parcel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs e Editores
.idea/
.vscode/
*.swp
*.swo
.history/

# Arquivos de Sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Variáveis de Ambiente
.env
.env.local
.env.*.local

# Locks (O projeto utiliza pnpm)
package-lock.json
yarn.lock
